@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel, forest, mentalHealthDark;
} 
@plugin "daisyui/theme" {
  name: "mentalHealthDark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(17.2% 0.0267 317);
  --color-base-200: oklch(21.8% 0.049 317);
  --color-base-300: oklch(28% 0.0578 317);
  --color-base-content: oklch(89% 0.057 293.283);
  --color-primary: oklch(26% 0.051 172.552);
  --color-primary-content: oklch(96% 0.044 156.743);
  --color-secondary: oklch(40% 0.101 131.063);
  --color-secondary-content: oklch(96% 0.067 122.328);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(26% 0.065 152.934);
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: oklch(28% 0.091 267.935);
  --color-info-content: oklch(93% 0.032 255.585);
  --color-success: oklch(37% 0.077 168.94);
  --color-success-content: oklch(95% 0.052 163.051);
  --color-warning: oklch(28% 0.066 53.813);
  --color-warning-content: oklch(97% 0.071 103.193);
  --color-error: oklch(27% 0.105 12.094);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


:root {
  --background: --color-background;
  --foreground: --color-foreground;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: --background;
    --foreground: --color-foreground;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
